@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,800;1,400&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
}

nav {
  padding: 20px 20px;
  background-color: darksalmon;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
}

nav a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: darksalmon;
  margin: 30px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.allbody {
  margin: 100px 20px;
}

.mainpic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainpic h1 {
  margin: 0;
}

.mainpic h2 {
  text-align: center;
}

.mainpic img{
  width: 20%;
  border-radius: 300px;
}

.container {
  margin: 20px 0 40px 0;
}

.highlight {
  background-color: darksalmon;
}

.scoby_imgs {
  margin-top: 20px;
  max-width: 1024px;
}

.scoby_imgs img {
  height: 250px;
  border: 2px solid darksalmon;
  border-radius: 30px;
  padding: 5px;
  margin: 10px 2px;
}

.simplelist {
  margin-left: 30px;
}

.firsttable {
  border: 1px solid black;
}

.firsttable th, td {
  border: 1px solid black;
  text-align: center;
  padding: 5px 25px;
}

.firsttable_redbox {
  border: 1px solid red;
  color: red;
}

.secondtable {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

.secondtable th, td{
  border: 1px solid black;
  padding: 5px 25px;
  text-align: center;
}

.target {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  padding: 46px;
  box-sizing: border-box;
}

.redtarget {
  background-color: red;
  width: 100px;
  height: 100px;
  border: 3px dotted black;
}

.shapedtable {
  border: 2px solid black;
  width: 300px;
  height: 150px;
}

.greencolorbox {
  background-color: lightgreen;
}

.whitebox {
  border: 2px solid black;
  width: 300px;
  margin-bottom: 5px;;
}

.purpleblock{
  background-color: purple;
  height: 30px;
  margin: 10px;
  padding-top: 15px;
  padding-left: 10px;
  color: white;
}

.purpleblock:nth-child(1) {
  width: 100px;
}

.purpleblock:nth-child(2) {
  width: 200px;
}

.purpleblock2 {
  background-color: purple;
  height: 30px;
  margin: 10px;
  padding-top: 15px;
  padding-left: 10px;
  color: white;
}

.purpleblock2:nth-child(1) {
  width: 200px;
  margin-left: 80px;
}

.purpleblock2:nth-child(2) {
  width: 100px;
}

.boxes { 
  width: 300px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.redbox {
  background-color: red;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 30px;
  color: white;
}


.blackbox {
  background-color: black;
  border-right: 2px solid red;
  border-left: 2px solid red;
  padding: 30px;
  color: white;
}

.orangebox {
  background-color: orange;
  border-right: 2px solid green;
  border-left: 2px solid green;
  padding: 30px;
  color: white;
}

.greenbox {
  background-color: green;
  border-right: 2px solid orange;
  border-left: 2px solid orange;
  padding: 30px;
  color: white;
}